<!-- config -->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<body>
<!-- header -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div class="container">
  <div class="p-3 text-center bg-body-tertiary rounded-3">
    <div class="row">
      <th:block th:replace="fragment/myPageSide :: myPageSideFragment"></th:block>
      <div class="col-md-7 col-lg-10">
        <h4 class="mb-3">내 댓글 확인</h4>
        <hr>
        <div style="height: 500px; overflow: auto">
          <th:block th:if="${comments.content.size() != 0}">
            <th:block th:each="comment : ${comments.content}">
              <div class="card mb-3">
                <div class="card-body">
                  <div
                      class="d-flex align-items-center justify-content-between mb-3 border-secondary border-bottom border-1">
                    <div class="d-flex align-items-center">
                      <div class="nav nav-divider">
                        <a class="nav-item card-title mb-0 fw-bold fs-3 text-decoration-none"
                           th:text="${comment.workout.title}"
                             th:href="|@{/workout/{id}(id=${comment.workout.id})}|"></a>
                      </div>
                    </div>
                    <input type="hidden" id="workout-id" th:value="${comment.workout.id}"/>
                  </div>
                  <div class="row">
                    <div class="col text-start">
                      <small
                          th:text="${#temporals.format(comment.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></small>
                    </div>
                    <div class="col-auto">
                      <button type="button" class="btn btn-secondary btn-sm"
                              data-bs-toggle="modal"
                              th:data-bs-target="|#updateComment-${comment.id}|">수정
                      </button>
                      <div class="modal fade" th:id="|updateComment-${comment.id}|" tabindex="-1"
                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">댓글 수정</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="mb-3">
                          <textarea class="form-control" id="updateCommentContent"
                                    rows="5"
                                    th:text="${comment.content}"
                                    th:value="${comment.content}"></textarea>
                                <input type="hidden" id="member-id"
                                       th:value="${comment.member.id}"/>
                                <input type="hidden" id="comment-id"
                                       th:value="${comment.id}"/>
                              </div>
                              <div class="text-end">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">
                                  취소
                                </button>
                                <button type="button" class="btn btn-primary" id="update-comment">
                                  수정
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="button" class="btn btn-danger btn-sm"
                              th:onclick="|deleteComment(${comment.id})|">삭제
                      </button>
                    </div>
                  </div>
                  <p class="card-text text-start mb-4"
                     th:text="${comment.content}"></p>
                </div>
              </div>
            </th:block>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center p-5"
                  th:with="start=${T(java.lang.Math).floor(comments.number/10)*10 + 1}, last=(${start + 9 < comments.totalPages ? start + 9 : comments.totalPages})">

                <li class="page-item">
                  <a class="page-link"
                     th:href="@{/myPage/myComment(id=${#authentication.principal.id}, page=1)}"
                     aria-label="First">맨 앞</a>
                </li>
                <li class="page-item" th:class="${comments.first} ? 'disabled'">
                  <a class="page-link"
                     th:href="${comments.first} ? '#' : @{/myPage/myComment(id=${#authentication.principal.id}, page=${comments.number})}">&lt;</a>
                </li>
                <li class="page-item" th:each="page : ${#numbers.sequence(start, last)}"
                    th:class="${page == comments.number + 1} ? 'active'">
                  <a class="page-link" th:href="@{/myPage/myComment(id=${#authentication.principal.id}, age=${page})}"
                     th:text="${page}"></a>
                </li>
                <li class="page-item" th:class="${comments.last} ? 'disabled'">
                  <a class="page-link"
                     th:href="${comments.last} ? '#' : @{/myPage/myComment(id=${#authentication.principal.id}, page=${comments.number + 2})}">&gt;</a>
                </li>
                <li class="page-item">
                  <a class="page-link"
                     th:href="@{/myPage/myComment(id=${#authentication.principal.id}, page=${comments.totalPages})}">맨
                    뒤</a>
                </li>
              </ul>
            </nav>
          </th:block>
          <th:block th:unless="${comments.content.size() != 0}">
            <div class="card mb-3">
              <div class="mb-4 text-center bg-body-tertiary rounded-3">
                <div class="container-fluid py-5">
                  <div class="fs-4 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                         fill="currentColor"
                         class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                      <path
                          d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
                    </svg>
                    작성한 댓글이 없습니다.
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>