<!-- config -->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<body>
<!-- header -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div class="container">
  <div class="p-3 text-center bg-body-tertiary rounded-3">
    <div class="row">
      <th:block th:replace="fragment/myPageSide :: myPageSideFragment"></th:block>
      <div class="col-md-7 col-lg-10">
        <h4 class="mb-3">내 프로필</h4>
        <hr>
        <form th:action="@{'/api/profile'}" method="post" th:object="${profile}"
              enctype="multipart/form-data">
          <input type="hidden" id="memberId" name="memberId"
                 th:value="${#authentication.principal.id}"/>
          <input type="hidden" id="profileId" name="profileId" th:value="*{id}"/>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-start mb-3">프로필 이미지</h5>
              <div class="row">
                <div class="fs-2 mb-3 col-4">
                  <img id="preview"
                       th:src="*{storeFileName == null} ? '/static/img/profile.svg' : '/api/profile/images/' + *{storeFileName} + ''"
                       width="150" height="150" alt=""/>
                </div>
                <div class="col-auto text-start align-self-center">
                  <label for="file">
                    <div class="btn-primary btn">이미지 업로드</div>
                  </label>
                  <input style="display: none" type="file" name="profileImage" id="file"
                         onchange="readURL(this);">
                  <p class="fs-5 mt-3">파일은 반드시 10M 보다 크면 안되고 JPEG, PNG, GIF로만 등록해주세요.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-start mb-3">SNS</h5>
              <div class="mb-3 row">
                <label for="instagram" class="col-sm-2 col-form-label">INSTAGRAM</label>
                <div class="col-8">
                  <input type="text" class="form-control" name="instagram" id="instagram"
                         th:value="*{instagram == null} ? '' : *{instagram}">
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-start mb-2">신체 정보</h5>
              <div class="mb-3 row">
                <label for="height" class="col-sm-2 col-form-label">키</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" name="height" id="height"
                         th:value="*{height == null} ? '' : *{height}">
                </div>
                <div class="col-auto">
                  <span id="heightExplain" class="form-text">
                    cm
                  </span>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="weight" class="col-sm-2 col-form-label">몸무게</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="weight" name="weight"
                         th:value="*{weight == null} ? '' : *{weight}">
                </div>
                <div class="col-auto">
                  <span id="weightExplain" class="form-text">
                    kg
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col"><h5 class="card-title text-start mb-3">벤치마크</h5></div>
                <div class="col-auto">
                  <button type="button" class="btn btn-link btn-sm" data-bs-toggle="modal"
                          data-bs-target="#benchmark">
                    등록
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="benchmark" tabindex="-1"
                       aria-labelledby="benchmarkModal" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="benchmarkModal">벤치마크</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <th:block th:if="${benchmarks.size() != 0}">
                            <th:block th:each="benchmark : ${benchmarks}">
                              <div class="card border-secondary mb-3">
                                <div class="card-body text-secondary">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           name="benchmark"
                                           th:value="${benchmark.id}"
                                           th:id="${benchmark.title}">
                                    <label class="form-check-label" th:for="${benchmark.title}"
                                           th:text="${benchmark.title}">
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </th:block>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" id="create-benchmark">
                                추가
                              </button>
                            </div>
                          </th:block>
                          <th:block th:unless="${benchmarks.size() != 0}">
                            <div class="card border-secondary mb-3">
                              <div class="card-body text-secondary">
                                더 이상 등록할 벤치마크가 없습니다.
                              </div>
                            </div>
                          </th:block>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
                <th:block th:if="*{profileBenchmarks.size() != 0}">
                  <div th:each="profileBenchmark : *{profileBenchmarks}" class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <p class="card-title fw-bold"
                               th:text="${profileBenchmark.benchmark.title}"></p>
                          </div>
                          <div class="col-auto">
                            <a class="btn-sm btn-link btn" type="button"
                               data-bs-toggle="modal"
                               th:data-bs-target="|#updateBenchMark-${profileBenchmark.id}|">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                   fill="currentColor" class="bi bi-pencil" style="color: gray"
                                   viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                              </svg>
                            </a>
                            <!-- Modal -->
                            <div class="modal" th:id="|updateBenchMark-${profileBenchmark.id}|"
                                 tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title"
                                        th:text="${profileBenchmark.benchmark.title}"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row g-3 align-items-center">
                                      <div class="col-3">
                                      </div>
                                      <div class="col-auto">
                                        <input type="text"
                                               th:id="|benchmarkRecord-${profileBenchmark.benchmark.id}|"
                                               class="form-control"
                                               th:value="${profileBenchmark.record}">
                                      </div>
                                      <div class="col-auto">
                                      <span id="passwordHelpInline" class="form-text"
                                            th:text="${profileBenchmark.benchmark.content}">
                                      </span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <div class="row">
                                      <div class="col">
                                        <button type="button" class="btn btn-danger"
                                                th:onclick="|deleteBenchmark(${profileBenchmark.benchmark.id})|">
                                          삭제
                                        </button>
                                      </div>
                                      <div class="col">
                                        <button type="button" class="btn btn-primary"
                                                th:onclick="|updateBenchmark(${profileBenchmark.benchmark.id})|">
                                          저장
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="card-text fw-bold"
                           th:id="|benchmark_${profileBenchmark.benchmark.id}|"
                           th:text="${profileBenchmark.record == null} ? '-' : ${profileBenchmark.record + profileBenchmark.benchmark.content} ">
                        </p>
                      </div>
                    </div>
                  </div>
                </th:block>
                <th:block th:unless="*{profileBenchmarks.size() != 0}">
                  <p>벤치마크를 등록해주세요</p>
                </th:block>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-primary" type="submit" id="update-profile">프로필 수정</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
      let reader = new FileReader();
      reader.onload = function (e) {
        $('#preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
</body>