<th:block th:fragment="adminPageSideFragment">
  <div class="col-md-5 col-lg-2 order-md-first">
    <p class="px-2 me-2 fs-4 fw-bold">
      관리자 페이지
    </p>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a th:href="@{/admin/members}"
           class="nav-link text-white"
           th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/members')} ? 'active'"
        >
          회원 관리
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/admin/workouts}"
           class="nav-link text-white"
           th:classappend="${#strings.contains(#httpServletRequest.requestURI, '/admin/workouts')} ? 'active'"
        >
          게시글 관리
        </a>
      </li>
    </ul>
    <hr>
  </div>
</th:block>