<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="white">
<nav th:fragment="footerFragment">
    <footer class="py-5 bg-dark mt-auto">
        <div class="container py-3 mb-4 border-top">
            <p>
                © 2023 CrossFit, LLC. CrossFit, Fittest on Earth, 3...2...1...Go! CrossFit Games, and Sport of Fitness
                are
                trademarks of CrossFit, LLC in the U.S. and/or other countries. All Rights Reserved.
            </p>
        </div>
    </footer>
</nav>
</html>