<!-- config -->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<body>
<!-- header -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div class="container">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">WELCOME TO CROSSFIT</h1>
      <p class="col-md-8 fs-4">CrossFit meets you where you are and helps improve your quality of
        life.</p>
      <button class="btn btn-outline-light btn-lg" type="button" onclick="location.href='/workout'">
        WorkOut Of Day
      </button>
    </div>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Crossfit Games</h2>
        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" width="560" height="315"
                  src="https://www.youtube.com/embed/BmJv18bISJo?autoplay=1&mute=1" frameborder="0"
                  allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>WORKOUT OF DAY</h2>
        <p>FRAN</p>
        <p>21 - 15 - 9 <br/>Pull-Up<br/> Thruster (95/65)</p>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>