<!-- config -->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<body class="gradient-custom">
<div class="container w-25">
  <section class="d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
      <div class="card bg-dark" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <button type="button" class="btn btn-lg mb-2 fw-bold text-white"
                  onclick="location.href='/'">WORK OUT
            OF DAY
          </button>
          <th:block th:if="${newPassword == null}">
            <p class="text-white-100 fw-bold">비밀번호 재발급</p>
            <div class="mb-2">
              <form th:action="@{'/resetPassword'}" method="post">
                <div class="mb-3">
                  <input type="email" class="form-control" name="email" placeholder="이메일">
                  <div class="field-error mt-2" th:if="${result != null}" th:text="${result}"></div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                  <button type="submit" class="btn btn-primary">비밀번호 재발급</button>
                  <button type="button" class="btn btn-secondary" onclick="location.href='/login'">
                    로그인
                  </button>
                </div>
              </form>
            </div>
          </th:block>
          <th:block th:unless="${newPassword == null}">
            <p class="text-white-100 fw-bold">신규 발급 비밀번호</p>
            <div class="mb-2">
              <div class="mb-3">
                <p class="text-center fw-bold fs-4" th:text="${newPassword}"></p>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="button" class="btn btn-secondary" onclick="location.href='/login'">
                  로그인 하러가기
                </button>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>
  </section>
</div>
</body>