<!-- config -->
<th:block th:replace="fragment/config :: configFragment"></th:block>
<body>
<!-- header -->
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<div class="container">
  <div class="p-5 bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis text-center">MAKE, SHARE YOUR WORKOUT</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted text-center">
      CROSSFIT
    </p>
    <form th:action="@{'/workout'}" class="row g-2 container-fluid justify-content-md-center"
          method="get">
      <div class="col-auto">
        <select name="type" class="form-select" aria-label="select" th:value="${type}">
          <option th:selected="${type} == 'title'" value="title">제목</option>
          <option th:selected="${type} == 'content'" value="content">본문</option>
          <option th:selected="${type} == 'writer'" value="writer">작성자</option>
        </select>
      </div>
      <div class="col-auto">
        <input class="form-control" type="text" name="keyword" aria-label="Search"
               th:value="${keyword}">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="22" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </form>
    <div class="current_date mt-2 fs-4 fw-bold text-center"></div>
    <div class="row mb-2">
      <div class="col">
        <p th:text="|총 게시글 ${#numbers.formatInteger(workouts.totalElements, 1, 'COMMA') + ' 개'}|"></p>
      </div>
      <div class="col-auto">
        <div class="dropdown">
          <th:block th:switch="${sort}">
            <a class="btn btn-sm btn-link dropdown-toggle text-decoration-none" type="button"
               data-bs-toggle="dropdown"
               aria-expanded="false" th:case="createdAt">최신순
            </a>
            <a class="btn btn-sm btn-link dropdown-toggle text-decoration-none btn-secondary"
               type="button"
               data-bs-toggle="dropdown"
               aria-expanded="false" th:case="views">조회순
            </a>
            <a class="btn btn-sm btn-link dropdown-toggle text-decoration-none" type="button"
               data-bs-toggle="dropdown"
               aria-expanded="false" th:case="heartCount">인기순
            </a>
            <a class="btn btn-sm btn-link dropdown-toggle text-decoration-none" type="button"
               data-bs-toggle="dropdown"
               aria-expanded="false" th:case="commentCount">댓글순
            </a>
            <a class="btn btn-sm btn-link dropdown-toggle text-decoration-none" type="button"
               data-bs-toggle="dropdown"
               aria-expanded="false" th:case="*">최신순
            </a>
          </th:block>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/workout(sort='createdAt')}">최신순</a></li>
            <li><a class="dropdown-item" th:href="@{/workout(sort='heartCount')}">인기순</a></li>
            <li><a class="dropdown-item" th:href="@{/workout(sort='views')}">조회순</a></li>
            <li><a class="dropdown-item" th:href="@{/workout(sort='commentCount')}">댓글순</a></li>
          </ul>
        </div>
      </div>
      <div class="col-auto">
        <a class="btn btn-sm btn-primary"
           th:onclick="|location.href='@{/workout/addWorkout}'|">운동 만들기
        </a>
      </div>
    </div>
    <th:block th:if="${workouts.totalElements != 0}">
      <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col" th:each="workout : ${workouts}">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col">
                  <small class="text-body-secondary" th:text="${workout.id}"></small>
                </div>
                <div class="col-auto">
                  <small class="text-body-secondary" th:text="${workout.member.name} + ' |'"></small>
                  <small
                      class="text-body-secondary text-end"
                      th:text="|${#temporals.format(workout.createdAt, 'yyyy.MM.dd HH:mm:ss')}|"></small>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <a th:href="@{/workout/{id}(id=${workout.id})}" class="link fw-bold text-decoration-none"
                     th:text="${workout.title}"></a>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col text-start">
                  <small
                      class="text-body-secondary text-start"
                      th:text="|조회 ${workout.views}|"></small>
                </div>
                <div class="col text-end">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                       fill="currentColor"
                       class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                  </svg>
                  <small
                      class="text-body-secondary"
                      th:text="${workout.heartCount}"></small>
                  &nbsp;
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                       fill="currentColor"
                       class="bi bi-chat" viewBox="0 0 16 16">
                    <path
                        d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                  </svg>
                  <small
                      class="text-body-secondary"
                      th:text="${workout.comments.size()}"></small>
                </div>
              </div>
              <div class="row">
                <div class="col text-start scrollbar">
                  <th:block th:if="${workout.hashtags.size() != 0}">
                    <a th:each="hashtag : ${workout.hashtags}"
                       class="link-secondary fw-bold me-2 text-decoration-none"
                       th:href="@{/workout(hashtag=${hashtag.content})}"
                       th:text="|#${hashtag.content} |"></a>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center p-5"
            th:with="start=${T(java.lang.Math).floor(workouts.number/10)*10 + 1}, last=(${start + 9 < workouts.totalPages ? start + 9 : workouts.totalPages})">

          <li class="page-item">
            <a class="page-link"
               th:href="@{/workout(page=1)}" aria-label="First">맨 앞</a>
          </li>
          <li class="page-item" th:class="${workouts.first} ? 'disabled'">
            <a class="page-link"
               th:href="${workouts.first} ? '#' : @{/workout(page=${workouts.number})}">&lt;</a>
          </li>
          <li class="page-item" th:each="page : ${#numbers.sequence(start, last)}"
              th:class="${page == workouts.number + 1} ? 'active'">
            <a class="page-link" th:href="@{/workout(page=${page})}" th:text="${page}"></a>
          </li>
          <li class="page-item" th:class="${workouts.last} ? 'disabled'">
            <a class="page-link"
               th:href="${workouts.last} ? '#' : @{/workout(page=${workouts.number + 2})}">&gt;</a>
          </li>
          <li class="page-item">
            <a class="page-link" th:href="@{/workout(page=${workouts.totalPages})}">맨 뒤</a>
          </li>
        </ul>
      </nav>
    </th:block>
    <th:block th:unless="${workouts.totalElements != 0}">
      <div class="fs-3 mt-5 text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
             class="bi bi-box2" viewBox="0 0 16 16">
          <path
              d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z"></path>
        </svg>
        &nbsp; 오늘의 운동이 없습니다. &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
             class="bi bi-box2" viewBox="0 0 16 16">
          <path
              d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3L2.95.4ZM7.5 1H3.75L1.5 4h6V1Zm1 0v3h6l-2.25-3H8.5ZM15 5H1v10h14V5Z"></path>
        </svg>
      </div>
    </th:block>
  </div>
  <th:block th:replace="fragment/footer :: footerFragment"></th:block>
</div>
</body>
<script th:src="@{../static/js/bootstrap.bundle.js}"></script>
<script>
  const calendar = document.querySelector('.current_date');

  const days = [
    "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"
  ]
  let today = new Date();
  const year = today.getFullYear().toString();
  const month = today.getMonth() + 1;
  const date = today.getDate().toString();

  let day = days[today.getDay()];

  calendar.innerHTML = `${year} / ${month} / ${date} / ${day}`
</script>